<div class="container py-3">
  <a routerLink="/admin/new-user" class="btn button">Dar de alta</a>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="name" (sort)="onSort($event)">Nombre completo</th>
      <th scope="col" sortable="userName" (sort)="onSort($event)">Nick del usuario</th>
      <th scope="col" sortable="role" (sort)="onSort($event)">Rol</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{user.name}}</td>
      <td>{{user.userName}}</td>
      <td>{{user.role}}</td>
    </tr>
    </tbody>
  </table>
</div>
