<div class="container py-3">
  <a routerLink="/new-user" class="btn button">Add</a>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="name" (sort)="onSort($event)">Full Name</th>
      <th scope="col" sortable="userName" (sort)="onSort($event)">Username</th>
      <th scope="col" sortable="role" (sort)="onSort($event)">Role</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{user.name}}</td>
      <td>{{user.userName}}</td>
      <td>{{user.role}}</td>
    </tr>
    </tbody>
  </table>
</div>
