<div class="container">
  <a routerLink="/new-user" class="btn button">Add</a>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="name" (sort)="onSort($event)">Nombre</th>
      <th scope="col" sortable="userName" (sort)="onSort($event)">Nick</th>
      <th scope="col" sortable="rol" (sort)="onSort($event)">Rol</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{user.name}}</td>
      <td>{{user.userName}}</td>
      <td>{{user.rol}}</td>
    </tr>
    </tbody>
  </table>
</div>
