<div class="container py-3">

  <form [formGroup]="userAddForm" (ngSubmit)="onSubmit()">
    <div class="form-row">

      <div class="form-group col-md-9">

        <label for="name">Nombre completo</label>
        <input class="form-control" type="text" formControlName="name" id="name">
        <div *ngIf="controls.name.invalid && ( submit ||controls.name.dirty || controls.name.touched)"
             class="text-danger">

          <div *ngIf="controls.name.errors.required">
            Se necesita el nombre
          </div>
        </div>
      </div>
      <div class="form-group col-md">

        <label for="username">Nick de usuario</label>
        <input class="form-control" type="text" formControlName="userName" id="username">
        <div *ngIf="controls.userName.invalid && (submit || controls.userName.dirty || controls.userName.touched)"
             class="text-danger">

          <div *ngIf="controls.userName.errors.required">
            Se necesita un nick
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">

      <div class="form-group col-md">

        <label for="roles">Rol</label>
        <select class="form-control" formControlName="role" id="roles">
          <option *ngFor="let rol of roles" [value]="rol">{{rol}}</option>
        </select>
        <div *ngIf="controls.role.invalid && (submit || controls.role.dirty || controls.role.touched)"
             class="text-danger">

          <div *ngIf="controls.role.errors.required">
            Se necesita el rol
          </div>
        </div>
      </div>
      <div class="form-group col-md">
        <label for="password-opt">Contraseña (opcional)</label>
        <input class="form-control" type="text" formControlName="password" id="password-opt">


      </div>
    </div>
    <button class="btn button" type="submit">Dar de alta</button>
  </form>
</div>
