<div class="container py-3">

  <form [formGroup]="userAddForm" (ngSubmit)="onSubmit()">
    <div class="form-row">

      <div class="form-group col-md-9">

        <label for="name">Full Name</label>
        <input class="form-control" type="text" formControlName="name" id="name">
        <div *ngIf="controls.name.invalid && ( submit ||controls.name.dirty || controls.name.touched)"
             class="alert alert-danger">

          <div *ngIf="controls.name.errors.required">
            Name is required.
          </div>
        </div>
      </div>
      <div class="form-group col-md">

        <label for="username">Username</label>
        <input class="form-control" type="text" formControlName="username" id="username">
        <div *ngIf="controls.username.invalid && (submit || controls.username.dirty || controls.username.touched)"
             class="alert alert-danger">

          <div *ngIf="controls.username.errors.required">
            Username is required.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">

      <label for="roles">Role</label>
      <select class="form-control" formControlName="roles" id="roles">
        <option *ngFor="let rol of roles" [value]="rol">{{rol}}</option>
      </select>
      <div *ngIf="controls.roles.invalid && (submit || controls.roles.dirty || controls.roles.touched)"
           class="alert alert-danger">

        <div *ngIf="controls.roles.errors.required">
          Role is required.
        </div>
      </div>
    </div>
    <button class="btn button" type="submit">Crear</button>
  </form>
</div>
