<ngb-tabset [activeId]="activeId" (tabChange)="beforeChange($event)">
  <ngb-tab id="tab-Monday" title="Monday">
    <ng-template ngbTabContent>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let class of classesOfMon">
          <h5>
            {{class.typeClass.name}}
          </h5>
          <p>
            {{class.classSchedule.startTime}} to {{class.classSchedule.endTime}}
          </p>
        </li>
      </ul>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="tab-Tuesday" title="Tuesday">
    <ng-template ngbTabContent>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let class of classesOfTues"><h5>
          {{class.typeClass.name}}
        </h5>
          <p>
            {{class.classSchedule.startTime}} to {{class.classSchedule.endTime}}
          </p></li>
      </ul>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="tab-Wednesday" title="Wednesday">
    <ng-template ngbTabContent>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let class of classesOfWed"><h5>
          {{class.typeClass.name}}
        </h5>
          <p>
            {{class.classSchedule.startTime}} to {{class.classSchedule.endTime}}
          </p></li>
      </ul>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="tab-Thursday" title="Thursday">
    <ng-template ngbTabContent>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let class of classesOfThur"><h5>
          {{class.typeClass.name}}
        </h5>
          <p>
            {{class.classSchedule.startTime}} to {{class.classSchedule.endTime}}
          </p></li>
      </ul>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="tab-Friday" title="Friday">
    <ng-template ngbTabContent>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let class of classesOfFri"><h5>
          {{class.typeClass.name}}
        </h5>
          <p>
            {{class.classSchedule.startTime}} to {{class.classSchedule.endTime}}
          </p></li>
      </ul>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="tab-Saturday" title="Saturday">
    <ng-template ngbTabContent>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let class of classesOfSat"><h5>
          {{class.typeClass.name}}
        </h5>
          <p>
            {{class.classSchedule.startTime}} to {{class.classSchedule.endTime}}
          </p></li>
      </ul>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="tab-Sunday" title="Sunday">
    <ng-template ngbTabContent>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let class of classesOfSun"><h5>
          {{class.typeClass.name}}
        </h5>
          <p>
            {{class.classSchedule.startTime}} to {{class.classSchedule.endTime}}
          </p></li>
      </ul>
    </ng-template>
  </ngb-tab>

</ngb-tabset>
