<div *ngIf="classes" class="container">
  <h2>Clases de {{className}}</h2>
  <div *ngFor="let classDirected of classes" class="card">
    <div class="card-body">
      <div class="card-title">
        <h4>
          {{classDirected.classSchedule.dayOfWeek}}

        </h4>
      </div>
      <div class="card-subtitle">
        {{classDirected.classSchedule.startTime}} a {{classDirected.classSchedule.endTime}}
      </div>
      <div class="card-text">
        {{classDirected.assignedMonitor?.name || "Aún no asignada"}}
      </div>
      <button mat-raised-button (click)="open(classDirected.id)">
        {{getButtonName(classDirected.assignedMonitor)}}
      </button>
    </div>
  </div>
</div>
