<div class="login-page mx-auto">
  <div class="card">
    <div class="card-header">
      <img class="logo-img" src="assets/logo-white.png" alt="logo">
      <span>Tu gimnasio, tu control</span>
    </div>
    <div *ngIf="loginForm" class="card-body">
      <h3>Bienvenido!</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><fa-icon [icon]="faUser" size="xs"></fa-icon></div>
          </div>
          <input class="form-control form-control-global" id="userName" formControlName="userName" placeholder="Nick de usuario..."
                 type="text">

        </div>
        <div *ngIf="controls.userName.invalid && (submit || controls.userName.dirty || controls.userName.touched)"
             class="text-danger">

          <div *ngIf="controls.userName.errors.required">
            Se necesita el nombre de usuario.
          </div>
        </div>
        <div class="input-group my-3">
          <div class="input-group-prepend">
            <div class="input-group-text"><fa-icon [icon]="faKey" size="xs"></fa-icon></div>
          </div>
          <input class="form-control" id="password" formControlName="password" placeholder="Contraseña..."
                 type="password">

        </div>
        <div *ngIf="controls.password.invalid && (submit ||controls.password.dirty || controls.password.touched)"
             class="text-danger">

          <div *ngIf="controls.password.errors.required">
            Se necesita la contraseña.
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button mat-raised-button class="my-button-success" type="submit">Iniciar sesión</button>
        </div>
      </form>
    </div>
  </div>
  <app-alert></app-alert>
</div>

