<div class="container">

  <a routerLink="/admin/new-team" class="btn btn-success">Crear nuevo equipo</a>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"> Equipo</th>
      <th scope="col"> Coordinador</th>
      <th scope="col"> Cantidad de miembros</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of teams; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{team.name}}</td>
      <td>{{team.leader.name}}</td>
      <td>{{team.members.length}}</td>
    </tr>
    </tbody>
  </table>
</div>
