.navbar {
  background-color: #4caf50;
}

.button {
  color: white;
  margin-left: auto;
}

mat-icon {
  display: none;
  margin-right: 5px;
}

@media (max-width: 740px) {
  mat-icon {
    display: unset;
  }
}
