<nav class="navbar navbar-expand-sm navbar-dark" *ngIf="loginService.getUser() !== null">
  <a class="navbar-brand" href="#">MyGymPlanner</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
    <div *ngIf="isClient() == true; then client else admin "></div>
      <ng-template #client>
        <li class="nav-item">
          <a routerLink="/home" class="nav-link">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/routines" class="nav-link">
            Routines
          </a>
        </li>

      </ng-template>
      <ng-template #admin>
        <li class="nav-item">
          <a routerLink="/admin" class="nav-link">
            Users
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
  <button class="btn button" (click)="logout()">Cerrar sesion</button>
</nav>
