<nav class="navbar navbar-expand-md navbar-dark" *ngIf="loginService.getUser() !== null">
  <button class="navbar-toggler" type="button" (click)="toggleNavBar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">MyGymPlanner</a>
  <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen}">
    <ul (click)="toggleNavBar()" class="navbar-nav">
      <ng-template [ngIf]="getRole()==='client'">
        <li class="nav-item">
          <a routerLink="/client" class="nav-link">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/routines" class="nav-link">
            Routines
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/classes" class="nav-link">
            Classes
          </a>
        </li>

      </ng-template>
      <ng-template [ngIf]="getRole()==='admin'">
        <li class="nav-item">
          <a routerLink="/admin" class="nav-link">
            Users
          </a>
        </li>
        <li>
          <a routerLink="/teams" class="nav-link">
            Teams
          </a>
        </li>
        <li>
          <a routerLink="/admin/class-list" class="nav-link">
            Classes
          </a>
        </li>
      </ng-template>
      <ng-template [ngIf]="getRole()==='monitor'">
        <li class="nav-item">
          <a routerLink="/monitor" class="nav-link">
            Working Hours
          </a>
        </li>
        <ng-template [ngIf]="isLeader()===true">
          <li class="nav-item">
            <a routerLink="/assigned-classes" class="nav-link">
              Assigned Classes
            </a>
          </li>
        </ng-template>
      </ng-template>
    </ul>
    <button class="btn button" (click)="logout()">Sign out</button>
  </div>
</nav>
