<nav class="navbar navbar-expand-md navbar-dark" *ngIf="loginService.getUser() !== null">
  <span class="navbar-brand"><mat-icon *ngIf="thereAreRollBack()" (click)="rollBack()"><fa-icon [icon]="faArrowLeft"></fa-icon></mat-icon>MyGymPlanner</span>
  <button class="navbar-toggler" type="button" (click)="toggleNavBar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen}">
    <ul (click)="toggleNavBar()" class="navbar-nav">
      <ng-template [ngIf]="getRole()==='client'">
        <li class="nav-item">
          <a routerLink="/client" class="nav-link">
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/client/routines" class="nav-link">
            Rutinas
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/client/classes" class="nav-link">
            Clases colectivas
          </a>
        </li>

      </ng-template>
      <ng-template [ngIf]="getRole()==='admin'">
        <li class="nav-item">
          <a routerLink="/admin" class="nav-link">
            Usuarios
          </a>
        </li>
        <li>
          <a routerLink="/admin/teams" class="nav-link">
            Equipos
          </a>
        </li>
        <li>
          <a routerLink="/admin/class-list" class="nav-link">
            Clases colectivas
          </a>
        </li>
      </ng-template>
      <ng-template [ngIf]="getRole()==='monitor'">
        <li class="nav-item">
          <a routerLink="/monitor" class="nav-link">
            Horario de trabajo
          </a>
        </li>
        <ng-template [ngIf]="isLeader()===true">
          <li class="nav-item">
            <a routerLink="/monitor/assigned-classes" class="nav-link">
              Clases colectivas
            </a>
          </li>
        </ng-template>
      </ng-template>
    </ul>
    <button class="button" mat-button [matMenuTriggerFor]="menu">{{userLogin.name}}</button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item (click)="logout()">Cerrar sesión</button>
    </mat-menu>
  </div>
</nav>
