.container{
  padding: 25px 100px;
}

table{
  width: -moz-available;
}

:host ::ng-deep .tabSet a.nav-link {
  color: #c8e6c9;
}

:host ::ng-deep .tabSet a.nav-link.active {
  color: #8bc34a;
}



@media (max-width: 740px) {
  .container{
    padding: 5px 0;
  }
}
