<div class="container">
  <ngb-tabset class="tabSet" (tabChange)="beforeChange($event)">
    <ngb-tab id="tab-routines" title="Rutinas">
      <ng-template ngbTabContent>
        <table *ngIf="dataSourceRoutines!=null" mat-table class="mat-elevation-z8" [dataSource]="dataSourceRoutines" matSort>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let table"> {{table.name}} </td>
          </ng-container>

          <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nivel</th>
            <td mat-cell *matCellDef="let table"> {{table.level}} </td>
          </ng-container>

          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let table">
              <button mat-icon-button class="button-see" type="button"
                      (click)="seeRoutine(table.id);$event.stopPropagation()">
                <fa-icon [icon]="faEye" size="sm"></fa-icon></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let table; columns: displayedColumns;" (click)="isColumnsMobile && seeRoutine(table.id)"></tr>

        </table>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-myRoutines" title="Mis Rutinas">
      <ng-template ngbTabContent>
        <table *ngIf="dataSourceRoutines!=null" mat-table class="mat-elevation-z8" [dataSource]="dataSourceMyRoutines" matSort>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let table"> {{table.name}} </td>
          </ng-container>

          <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nivel</th>
            <td mat-cell *matCellDef="let table"> {{table.level}} </td>
          </ng-container>

          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let table">
              <button mat-icon-button class="button-see" type="button"
                      (click)="$event.stopPropagation();seeRoutine(table.id)">
                <fa-icon [icon]="faEye" size="xs"></fa-icon></button>
              <button mat-icon-button class="button-danger" (click)="$event.stopPropagation();deleteRoutine(table.id)">
                <fa-icon [icon]="faTrashAlt" size="xs"></fa-icon></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let table; columns: displayedColumns;" (click)="isColumnsMobile && seeRoutine(table.id)"></tr>

        </table>

      </ng-template>

    </ngb-tab>
  </ngb-tabset>
</div>
