<div class="container">
  <h1>Classes</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Class</th>
      <th>Number of classes</th>
      <th>Team assigned</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let typeClass of classes" (click)="openModal(typeClass)">
      <td>{{typeClass.name}}</td>
      <td>{{typeClass.nClassesDirected}}</td>
      <td>
        <div *ngIf="typeClass.team === null">Not assigned</div>
        {{typeClass.team?.name}}</td>

    </tr>
    </tbody>
  </table>
</div>
