<div class="container">
  <h1>Clases</h1>
  <table *ngIf="dataSource!=null" mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Clase</th>
      <td mat-cell *matCellDef="let typeClass"> {{typeClass.name}} </td>
    </ng-container>

    <ng-container matColumnDef="nClassesDirected">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de clases</th>
      <td mat-cell *matCellDef="let typeClass"> {{typeClass.nClassesDirected}} </td>
    </ng-container>

    <ng-container matColumnDef="team.name">
      <th mat-header-cell *matHeaderCellDef> Equipo Asignado</th>
      <td mat-cell *matCellDef="let typeClass"> {{typeClass.team?.name || "Aún no asignado"}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let typeClass">
        <button mat-raised-button class="button-update" type="button" (click)="openModal(typeClass);$event.stopPropagation()">{{getNameButton(typeClass)}}</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let typeClass; columns: displayedColumns;" (click)="isColumnsMobile && openModal(typeClass)"></tr>

  </table>
</div>
