<div class="container">
  <h2>New Team</h2>
  <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="name-team-form">Name team</label>
        <input class="form-control" formControlName="teamName" id="name-team-form" type="text">
      </div>

      <div class="form-group col-md-6">
        <label for="leader-team-form">Select leader</label>
        <select class="form-control" formControlName="leader" name="leader" id="leader-team-form">
          <option *ngFor="let monitor of monitors" [ngValue]="monitor">{{monitor.name}}</option>

        </select>
      </div>

    </div>
    <div class="row">

      <div class="form-group col-5">
        <label for="no-added-members">Monitors</label>
        <select multiple class="form-control" formControlName="monitors" name="monitors" id="no-added-members">
          <option *ngFor="let monitor of monitors" [ngValue]="monitor">{{monitor.name}}</option>
        </select>
      </div>

      <div class="col-1">
        <div class="btn-group-vertical">
          <button type="button" class="btn btn-success" (click)="moveRight()">Right</button>
          <button type="button" class="btn btn-success" (click)="moveLeft()">Left</button>
          <button type="button" class="btn btn-success" (click)="moveAllRight()">All right</button>
          <button type="button" class="btn btn-success" (click)="moveAllLeft()">All Left</button>
        </div>
      </div>

      <div class="form-group col-6">
        <label for="added-members">Monitors in the team</label>
        <select multiple name="members" formControlName="members" class="form-control" id="added-members">
          <option *ngFor="let monitorAdded of newMonitors" [ngValue]="monitorAdded">{{monitorAdded.name}}</option>
        </select>
      </div>

    </div>
    <button class="btn btn-success" type="submit">Create Team</button>
  </form>
</div>
