<div class="container">
  <h4>{{table.name}}</h4>
  <h5>Level {{table.level}}</h5>
  <button class="btn btn-success">Add new exercise</button>
  <button class="btn btn-success">Save routine</button>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action" *ngFor="let exercise of exerciseList">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{exercise.exerciseType.name}}</h5>
        <small>{{exercise.sets}} sets X {{exercise.repetitions}} reps</small>
      </div>
      <p class="mb-1">{{exercise.exerciseType.description}} </p>
      <button class="btn btn-success">Remove</button>
      <button class="btn btn-success">Change sets or reps</button>
    </a>
  </div>
</div>
