.container {
  padding: 25px 100px;
}

#button-group {
  padding-bottom: 5px;
}

.card {
  pointer-events: none;
}

.container {
  position: relative;
}

.button-see {
  /*background-color: #8bc34a;*/
  color: #8bc34a;
  display: none;
}

.btn-danger, .my-button-success {
  pointer-events: auto;
}

.message-alert {
  position: absolute;
  top: 14px;
  left: 30%;
}

#submit-update-exercise-modal {
  margin-right: 5px;
}

img {
  width: 100%;
  padding: 4%;
  margin: 6%;
}

@media (max-width: 1200px) {
  .col-2 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-10 {
    flex: 0 0 75%;
    max-width: 75%;
  }

}

@media (max-width: 740px) {
  .container {
    padding: 10px;
  }

  .card {
    pointer-events: auto;
  }

  .col-2 {
    flex: 0 0 35%;
    max-width: 35%;
  }

  .col-10 {
    flex: 0 0 65%;
    max-width: 65%;
  }

  .button-see{
    /*background-color: #8bc34a;*/
    color: #8bc34a;
    display: unset;
  }
  .mobile {
    display: none;
  }
}
