.my-button-success {
  background-color: #8bc34a;
  color: white;
}

.my-button-success:hover {
  color: white;
  text-decoration: none;
  background-color: #388e3c;
}

.container {
  position: relative;
}

.message-alert {
  position: absolute;
  top: 14px;
  left: 30%;
}

img {
  width: 100%;
  padding: 4%;
  margin: 6%;
}
@media (max-width: 1200px) {
  .col-2 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-10 {
    flex: 0 0 75%;
    max-width: 75%;
  }

}

@media (max-width: 740px) {
  .row {
    display: block;
  }

  .col-2 {
    max-width: 65%
  }

  img {
    padding: 0;
    margin: 6% 6% 6% 30%;
  }

  .col-10 {
    max-width: 100%
  }

}
