.my-btn-success {
  background-color: #8bc34a;
  color: white;
}

.my-btn-success:hover {
  color: white;
  text-decoration: none;
  background-color: #388e3c;
}

.home-main {
  padding: 25px 50px;
}

@media (max-width: 740px) {
  .home-main {
    padding: 10px;
  }
  .my-btn-success{
    border: 1px solid;
  }
}
