<div class="modal-header">
  <h4 class="modal-title">Available monitors</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true"><fa-icon [icon]="faTimes"></fa-icon></span>
  </button>
</div>

<div class="modal-body">
  <form id="modal-form" [formGroup]="monitorAssignForm" (submit)="onSubmit()">
    <select class="form-control" name="monitor" formControlName="monitor" size="3">
      <option *ngFor="let monitor of monitors" [ngValue]="monitor">{{monitor.name}} - {{monitor.nClassAssigned}}
        classes
      </option>
    </select>
  </form>
</div>

<div class="modal-footer">
  <button form="modal-form" class="btn btn-success" type="submit">Assign</button>
  <button class="btn btn-danger" type="button" (click)="activeModal.close('Close')">Cancel</button>
</div>
